.createChallengeBtn{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #51C15F;
  border-radius: 15px;
  flex-basis: 37%;
  padding : 0.4%;

}

.loginBtn {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #51C15F;
  border-radius: 15px;
  flex-basis: 28%;
  padding : 0.4%;
}


.mypageBtn {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #51C15F;
  border-radius: 15px;
  flex-basis: 25%;
  padding : 0.4%;
}

.buttons{
  display: flex;
  width:21%;
  justify-content: space-around;
}